/* pages/me/answerQuestions/answerQuestions.css */

page {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
}

.learningRecord_wrap {
  width: 100%;
  position: absolute;
  top: 90rpx;
  left: 0;
  bottom: 0rpx;
  overflow: hidden;
}
.swiper{
  height: 100%;
}
.swiper swiper-item{
  height: 100%;
  overflow-y: auto !important;
}
/*切换tab*/

.answer_nav {
  display: flex;
  background:#fff;
}
.answer_nav .answer_tab {
  flex: 1;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  color: #b3b3b3;
  font-size: 30rpx;
}

.answer_tab text {
  display: block;
  line-height: 40rpx;
  margin-top: 20rpx;
  font-size: 28rpx;
  border-right: 1px solid #f4f4f4;
}

.answer_tab_action {
  border-bottom: 1px solid #3880e6 !important; 
  color: #3880e6 !important;
}
.all_answer{
  width: 100%;
  margin: 0 auto;
  height: 140rpx;
  border-bottom: 1px solid #f5f5f5 !important;
  background: #fff;
}
.all_answer_content{
  /* width: 670rpx; */
  margin:0 30rpx;
  padding-top:30rpx;
}
.all_answer_title{
  width: 100%;
  height: 30rpx;
  line-height: 30rpx;
  font-size: 30rpx;
  color: #333;
  text-align: left;
  padding-bottom: 30rpx;
}
.all_answer_state{
  float: left;
  /* width: 100rpx; */
  height: 24rpx;
  line-height: 24rpx;
  font-size: 24rpx;
  color: #298cec;
  text-align: left;
}
.all_answer_time{
  float: left;
  /* width: 500rpx; */
  height: 24rpx;
  line-height: 24rpx;
  font-size: 24rpx;
  color: #b3b3b3;
  text-align: right;
  margin-left: 40rpx;
}
.add_question{
  width: 100rpx;
  height: 100rpx;
  position: fixed;
  bottom: 169rpx;
  right: 40rpx;
}
.no_question{
  width: 750rpx;
  margin: 0 auto;
  text-align: center;
}
.no_question image{
  width: 381rpx;
  height: 405rpx;
  margin-top: 300rpx;
}