/* pages/agreement/agreement.css */

Page {
  background: #fff;
  color: #323c47;
  font-size: 30rpx;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.agreement_wrap {
  width: 100%;
  overflow: hidden;
}

.agreement_cell_title {
  height: 120rpx;
  line-height: 120rpx;
  text-align: center;
  color: #999;
  font-size: 36rpx;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fff;
}

.agreement_cell {
  width: 100%;
  overflow: hidden;
}

.agreement_cell_items {
  width: 90%;
  padding: 0 5%;
  background-color: #fff;
  float: left;
  border-bottom:  1rpx solid #e3e3e3;
  overflow: hidden;
}

.agreement_cell_item {
  width: 25%;
  margin: 0 auto;
  color: #b3b3b3;
  text-align: left;
  float: left;
  font-size: 32rpx;
  height: 120rpx;
  line-height: 120rpx;
}
.agreement_cell_items input{
  float: right;
  width: 75%;
  color: #5a626b;
  font-size: 30rpx;
  height: 120rpx;
  line-height: 120rpx;
}

.agreement_cell_shadow {
  width: 100%;
  height: 10rpx;
  background-color: #e3e3e3;
  /* box-shadow:0 0rpx 40rpx 0 #000 inset; */
}

.agreement_btn{
  width: 90%;
  margin: 0 5%;
  overflow: hidden;
}

.agreement_detail text{
  float: left;
  height: 120rpx;
  line-height: 120rpx;
  font-size: 30rpx;
  color: #5a626b;
}
.agreement_detail image{
  float: left;
  width: 40rpx;
  height: 40rpx;
  margin-right:20rpx;
  margin-top: 40rpx;

}
.agreement_surebtn{
  clear: both;
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  background-color: #279df7;
  color: #fff;
  font-size: 36rpx;
  text-align: center;
  border-radius: 60rpx;
  margin-top: 60rpx;
}
.agreement_skip{
  color: #b3b3b3;
  font-size: 24rpx;
  width: 100%;
  margin-top: 60rpx;
  text-align: left;
}
