/* pages/me/inputPassword/inputPassword.css */
@import "../bind/bind.css";
.bind_content{
  padding-top: 120rpx;
}
.input_wrap_tit {
  font-size: 30rpx;
  padding-bottom: 204rpx;
}
.input_wrap {
  text-align: left
}
.submit_btn {
  margin-top: 60rpx;
}
.wangjimima {
  margin-top: 40rpx;
  text-align: center;
  color: #333;
  font-size: 30rpx;
}