@import "../bind/bind.css";
.bind_content{
  padding-top: 120rpx;
}
.input_wrap_tit {
  font-size: 30rpx;
  padding-bottom: 204rpx;
}
.reset_tit{
  padding-bottom: 80rpx;
}
.reset_wrap{
  margin-bottom: 50rpx;
}